In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#view a sample of the data
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [17]:
#Calculate the summary information required
unique_school_names = school_data_complete["school_name"].unique()
total_schools = len(unique_school_names)
total_students = school_data_complete["Student ID"].count()
unique_budget_figures = school_data_complete["budget"].unique()
total_budget = unique_budget_figures.sum()
avg_math_score = school_data_complete["maths_score"].mean()
avg_read_score = school_data_complete["reading_score"].mean()
per_pass_math = len(school_data_complete.loc[school_data_complete["maths_score"] >= 50, :])/total_students*100
per_pass_read = len(school_data_complete.loc[school_data_complete["reading_score"] >= 50, :])/total_students*100
num_pass_overall = len(school_data_complete.loc[(school_data_complete["reading_score"] >= 50) & (school_data_complete["maths_score"] >= 50), :])
per_pass_overall = num_pass_overall/total_students*100

#Create data frame with the results
LGA_Summary = pd.DataFrame({
    "Total Schools":[total_schools],
    "Total Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score":[avg_read_score],
    "% Passing Maths":[per_pass_math],
    "% Passing Reading":[per_pass_read],
    "% Overall Passing":[per_pass_overall]
})
#Clean up the format of the results
LGA_Summary["Total Students"] = LGA_Summary["Total Students"].map('{:,.0f}'.format)
LGA_Summary["Total Budget"] = LGA_Summary["Total Budget"].map('${:,.0f}'.format)
LGA_Summary["Average Math Score"] = LGA_Summary["Average Math Score"].map('{:,.2f}%'.format)
LGA_Summary["Average Reading Score"] = LGA_Summary["Average Reading Score"].map('{:,.2f}%'.format)
LGA_Summary["% Passing Maths"] = LGA_Summary["% Passing Maths"].map('{:,.2f}%'.format)
LGA_Summary["% Passing Reading"] = LGA_Summary["% Passing Reading"].map('{:,.2f}%'.format)
LGA_Summary["% Overall Passing"] = LGA_Summary["% Overall Passing"].map('{:,.2f}%'.format)

LGA_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",70.34%,69.98%,86.08%,84.43%,72.81%

In [28]:
pt1_school_summary = school_data_complete.groupby(["school_name"])["Student ID"].count()
pt2_school_summary = school_data_complete.groupby(["school_name"])["maths_score","reading_score"].mean()
school_summary=pd.merge(pt1_school_summary,pt2_school_summary, on="school_name")

#Add columns for Budget, Total Students, School Type
school_summary["Total School Budget"] = school_data_complete.groupby(["school_name"])["budget"].unique()
school_summary["Total Students"] = school_data_complete.groupby(["school_name"])["size"].unique()
school_summary["School Type"] = school_data_complete.groupby(["school_name"])["type"].unique()

#Calculate average Budget per Student
school_summary["Per Student Budget"]=school_summary["Total School Budget"]/school_summary["Total Students"]

#Correct the formatting of the values
school_summary["Total School Budget"]=school_summary["Total School Budget"].str.get(0)
school_summary["Total Students"]=school_summary["Total Students"].str.get(0)
school_summary["School Type"]=school_summary["School Type"].str.get(0)
school_summary["Per Student Budget"]=school_summary["Per Student Budget"].str.get(0)

#Rename the headers
school_summary = school_summary.rename(columns={"maths_score":"Average Maths Score",
                                                "reading_score":"Average Reading Score"})

#Reorganise the headers
school_summary=school_summary[["School Type","Total Students","Total School Budget","Per Student Budget",
                               "Average Maths Score","Average Reading Score"]]

school_summary

C:\Users\Carol's PC\AppData\Local\Temp\ipykernel_10748\964838428.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pt2_school_summary = school_data_complete.groupby(["school_name"])["maths_score","reading_score"].mean()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score
school_name,,,,,,
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408
Holden High School,Independent,427,248087,581.0,72.583138,71.660422
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277
Pena High School,Independent,962,585858,609.0,72.088358,71.613306
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type